@model int


<div class="form-group row mr-4">
    <div class="col-6">
        <a asp-action="Edit" asp-route-id="@Model" class=" btn-block btn btn-primary">Edit</a>
    </div>
    <div class="col-6">
        <a class="btn btn-block btn-success" asp-action="Index">Back to List</a>
    </div>
</div>