@model Resturant.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Category</h3>

<div class="backgroundWhite border" >
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="col-4">
        <partial name="_deleteAndBackBtn" model="Model.Id"/>
    </form>
</div>
