@{
    ViewData["Title"] = "Home Page";
}


    <p><a asp-controller="Category" asp-action="Index">category</a></p>  
    <p>  <a asp-controller="SubCategory" asp-action="Index">subcategory</a></p>
  
